@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

html,
body {
  overflow-x: hidden !important;
  font-family: "Poppins", sans-serif !important;
}

:root {
  --primary: #002e5c;
}

@theme inline {
  --color-primary: var(--primary);
}

.scroll-0::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 768px) {
  .bg-dynamic {
    background-image: var(--bg-image);
  }
}
